{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300" id="article-{{ article.id }}">
        <h2 class="text-xl font-semibold text-gray-800">{{ article.title }}</h2>
        <p class="text-gray-600 mt-2">{{ article.content }}</p>
        <div class="mt-4">
            <p><strong>Auteur:</strong> {{ article.author.firstname }} {{ article.author.lastname }}</p>
            <p><strong>Catégories:</strong> 
                {% for category in article.categories %}
                    {{ category.name }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
        <p class="text-sm text-gray-400 mt-4">Publié le : {{ article.createAt | date('Y-m-d') }}</p>
    </div>

    <div class="mt-6">
        <a href="{{ path('app_article_showall_articles') }}" class="text-blue-500 hover:text-blue-700">Retour à la liste des articles</a>
    </div>
{% endblock %}