<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('styles/tailwind.css') }}" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="bg-blue-500 text-white p-4">
            <div class="max-w-screen-xl mx-auto flex justify-between items-center">
                <div class="text-2xl font-bold">Titre du site</div>
                <nav>
                    <ul class="flex space-x-6">
                        <li><a href="{{ path('app_user_home') }}" class="hover:underline">Home</a></li>
                        <li><a href="{{ path('app_article_showall_articles') }}" class="hover:underline">Listes des articles</a></li>
                        <li><a href="#" class="hover:underline">Ajouter article</a></li>
                        <li><a href="{{ path('app_user_register') }}" class="hover:underline">Inscription</a></li>
                        <li><a href="{{ path('app_user_login') }}" class="hover:underline">Connexion</a></li>
                        <li><a href="{{ path('app_user_showall_users') }}" class="hover:underline">Listes des comptes</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        {% block body %}{% endblock %}

        <footer class="bg-gray-800 text-white py-6">
            <div class="max-w-screen-xl mx-auto flex justify-center">
                <ul class="flex justify-evenly w-full">
                    <li><a href="#" class="hover:underline">Conditions générales</a></li>
                    <li><a href="#" class="hover:underline">Réseaux sociaux</a></li>
                    <li><a href="#" class="hover:underline">Info contact</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
